html, body {
  font-family: Arial, sans-serif;
  overflow: hidden;
  margin: 0;
  padding: 0;
  touch-action: none; /* 🔥 evita zoom y gestos */
  background: black;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  touch-action: none; /* 🔥 importantísimo */
}

#waiting {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
  color: white;
  animation: blink 1.5s infinite;
  z-index: 5;
}

@keyframes blink {
  0%, 100% { opacity: 0.4; }
  50% { opacity: 1; }
}

#menuBtn {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 30px;
  height: 22px;
  cursor: pointer;
  z-index: 10;
}

#menuBtn span {
  display: block;
  height: 4px;
  background: white;
  margin: 4px 0;
  border-radius: 2px;
}

#menu {
  position: absolute;
  top: 60px;
  left: 20px;
  background: black;
  border: 1px solid white;
  padding: 10px;
  display: none;
  z-index: 10;
}

#menu button {
  display: block;
  width: 100%;
  margin: 5px 0;
  padding: 8px;
  background: white;
  border: none;
  font-weight: bold;
}

#restartBtn {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 30px;
  font-size: 18px;
  border: none;
  background: black;
  color: white;
  box-shadow: 0 0 25px rgba(0,0,0,0.8);
  display: none;
  z-index: 20;
}

