body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #000000; /* negro puro OLED */
  color: white;
  text-align: center;
  overflow: hidden;
}

.screen {
  display: none;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.active {
  display: flex;
}

button {
  padding: 15px 30px;
  margin: 10px;
  font-size: 18px;
  border: none;
  border-radius: 10px;
  background: white;
  color: black;
  font-weight: bold;
}

#restartBtn {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.6s ease;
}
