body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
  text-align: center;
  overflow: hidden;
}

.screen {
  display: none;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.active {
  display: flex;
}

button {
  padding: 15px 25px;
  margin: 10px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
}

canvas {
  width: 100vw;
  height: 100vh;
}
