*, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --card-clr-1: rgb(160, 147, 72);
}

body {
    background: #333;
}

.card__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    flex-wrap: wrap;
}

.card {
    height: 300px;
    width: 200px;
    background: var(--card-clr-1);
    border-radius: 10px;
    padding: 15px;
    /* overflow: hidden; */
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.521);
    transition: .5s;
    transform-style: preserve-3d;
    
    perspective(1000px)
}

.card--hover {
    height: 300px;
    width: 200px;
    border-radius: 10px;
    /* outline: 1px solid red; */
    position: relative;
    margin: 20px 50px;
}

.card img {
    position: absolute;
    width: 170px;
    transform-style: preserve-3d;
    transition: .5s;
    transform: perspective(500px) translateY(-90px) translateZ(30px);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.445);
    
}

a {
    text-decoration: none;
    color: whitesmoke;
}

/* .card::before {
    content: "";
    height: 300px;
    width: 200px;
    border-radius: 10px;
    background: linear-gradient(to top, var(--card-clr), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    display: block;
    position: absolute;
    align-self: center;
    transform: translate(-15px, -15px);
    z-index: 1;
} */

.text {
}

.card p {
    color: whitesmoke;
    transform-style: preserve-3d;
    transition: .5s;
    max-height: 100px;
    transform: perspective(500px) translateZ(-50px) rotateY(180deg);
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.418);
}

.card--hover:hover .card{
    cursor: pointer;
    transform: perspective(1000px) rotateY(180deg);
}

.card--hover:hover .card p {
    transform: perspective(500px) translateZ(-50px) rotateY(180deg);
    transform-origin: center;
}

.card--hover:hover card img {
    transform: perspective(500px) translateZ(50px) rotateY(180deg);
    transform-origin: center;
}