* {
    padding: 0;
    margin: 0;
}

:root {
    --bg-color1: rgba(59,59,59,1);
    --white: snow;
}

body {
    background-color: var(--bg-color1);
    background-image: url('Doble_grid_patter.svg');
    background-repeat: repeat;
    background-size: 60px;
    background-attachment: fixed; /* Mantiene el fondo fijo en la vista */
    background-position: 0 0;
    position: relative;
    animation: parallax 60s linear infinite; /* Ajusta la duración de la animación */
}

@keyframes parallax {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 50% 100%;
    }
}



header {
    position: absolute;
    top: 0;
    right: 50px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: right;
    align-items: center;
    background-color: rgba(0, 0, 0, 0);
    /*box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);*/
    /*backdrop-filter: blur(1px);*/ /* Aplica el desenfoque */
    /*-webkit-backdrop-filter: blur(1px);*/ /* Soporte para Safari */
}


.grid_bg {
    width: 50px;
    height: 50px;
    
    background-repeat: repeat;
    z-index: -10000;
}

.header_list_container {
    width: 400px;
}

.header_list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.header_list a {
    padding: 5px 15px;
    color: var(--white);
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    background-color: rgba(0,0,0,0);
    transition: 0.3s;
    cursor: pointer;
    text-shadow: 0px 0px 10px var(--bg-color1);
    box-shadow: 0px 0px 0px var(--bg-color1);
    
}

.header_list a {
    text-decoration: none;
    font-weight: 500;
    text-transform: ;
}

.header_list a:hover {
    background-color: var(--white);
    color: var(--bg-color1);
    text-shadow: 0px 0px 0px var(--bg-color1);
    box-shadow: 0px 0px 10px var(--bg-color1);
}


.section_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: fit-content;
    display: flex;
    z-index: -10;
}

/* Contenedor principal */
.section_container {
    display: flex;
    flex-direction: column; /* Organiza las secciones en una columna vertical */
    height: 100vh; /* Asegura que el contenedor ocupe el 100% de la altura de la pantalla */
    scroll-behavior: smooth;
    overflow-y: auto; /* Permite el scroll vertical */

}

/* Estilo de cada sección */
.section_container section {
    flex: 0 0 100vh; /* Cada sección ocupa el 100% de la altura de la pantalla */
    width: 100%; /* Cada sección ocupa el 100% del ancho de la pantalla */
    scroll-snap-align: start;
}

/* Opcional: Colores de fondo para distinguir cada sección */
.section_1 {
    background-image: url('sections/section_1.svg'); /* Reemplaza con la ruta a tu imagen */
    background-size: cover; /* Ajusta la imagen para cubrir toda la sección sin distorsión */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen en la sección */
    height: 100vh; /* Asegura que la sección ocupe toda la altura de la pantalla */
    width: 100%; /* Asegura que la sección ocupe todo el ancho de la pantalla */
    display: flex;
    justify-content: center;
    align-items: end;
    scroll-snap-type: y mandatory;
}


/* Asegura que el icono esté centrado y visible */
.scroll-icon {
    font-size: 48px; /* Ajusta el tamaño del icono según tus necesidades */
    display: inline-block;
    animation: scrollAnimation 1.5s ease-in-out infinite;
    color: var(--white); /* Cambia el color según tu diseño */
    padding-bottom: 50px;
}

/* Define la animación */
@keyframes scrollAnimation {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    50% {
        transform: translateY(10px); /* Ajusta el desplazamiento hacia abajo */
        opacity: 0.5; /* Da un efecto de desvanecimiento */
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

    

.section_2 {
    background-image: url('img_new/2.png'); /* Reemplaza con la ruta a tu imagen */
    background-size: cover; /* Ajusta la imagen para cubrir toda la sección sin distorsión */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen en la sección */
    height: 100vh; /* Asegura que la sección ocupe toda la altura de la pantalla */
    width: 100%; /* Asegura que la sección ocupe todo el ancho de la pantalla */
    display: flex;
    justify-content: center;
    align-items: end;
    scroll-snap-type: y mandatory;
}

.video_sticky_container {
    position: relative;
    width: 100%;
    height: 300vh; 
}

.video_container {
    position: sticky; /* Asegura que el video sea sticky dentro de su contenedor */
    top: 0; /* El video comenzará a ser sticky en la parte superior de la ventana */
    height: 100vh; /* El video ocupará toda la altura de la ventana */
}

#video-container {
    position: sticky;
    top: 0;
  }
  
  .section_3 {
    background-image: url('img_new/3.png'); /* Reemplaza con la ruta a tu imagen */
    background-size: cover; /* Ajusta la imagen para cubrir toda la sección sin distorsión */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen en la sección */
    height: 100vh; /* Asegura que la sección ocupe toda la altura de la pantalla */
    width: 100%; /* Asegura que la sección ocupe todo el ancho de la pantalla */
    display: flex;
    justify-content: center;
    align-items: end;
    scroll-snap-type: y mandatory;
}

.section_4 {
    background-image: url('img_new/4.png'); /* Reemplaza con la ruta a tu imagen */
    background-size: cover; /* Ajusta la imagen para cubrir toda la sección sin distorsión */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen en la sección */
    height: 100vh; /* Asegura que la sección ocupe toda la altura de la pantalla */
    width: 100%; /* Asegura que la sección ocupe todo el ancho de la pantalla */
    display: flex;
    justify-content: center;
    align-items: end;
    scroll-snap-type: y mandatory;
    
}

.section_5 {
    background-image: url('img_new/5.png'); /* Reemplaza con la ruta a tu imagen */
    background-size: contain; /* Ajusta la imagen para cubrir toda la sección sin distorsión */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen en la sección */
    height: 100vh; /* Asegura que la sección ocupe toda la altura de la pantalla */
    width: 100%; /* Asegura que la sección ocupe todo el ancho de la pantalla */
    display: flex;
    justify-content: center;
    align-items: end;
    scroll-snap-type: y mandatory;
}

.section_6 {
    background-image: url('img_new/6.png'); /* Reemplaza con la ruta a tu imagen */
    background-size: contain; /* Ajusta la imagen para cubrir toda la sección sin distorsión */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen en la sección */
    height: 100vh; /* Asegura que la sección ocupe toda la altura de la pantalla */
    width: 100%; /* Asegura que la sección ocupe todo el ancho de la pantalla */
    display: flex;
    justify-content: center;
    align-items: end;
}

.section_7 {
    background-image: url('img_new/7.png'); /* Reemplaza con la ruta a tu imagen */
    background-size: contain; /* Ajusta la imagen para cubrir toda la sección sin distorsión */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen en la sección */
    height: 100vh; /* Asegura que la sección ocupe toda la altura de la pantalla */
    width: 100%; /* Asegura que la sección ocupe todo el ancho de la pantalla */
    display: flex;
    justify-content: center;
    align-items: end;
}

.section_8 {
    background-image: url('img_new/8.png'); /* Reemplaza con la ruta a tu imagen */
    background-size: contain; /* Ajusta la imagen para contenerse dentro de la sección sin distorsión */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen en la sección */
    height: 100vh; /* Asegura que la sección ocupe toda la altura de la pantalla */
    width: 100%; /* Asegura que la sección ocupe todo el ancho de la pantalla */
    display: flex;
    justify-content: center;
    align-items: end;
}

.section_9 {
    background-image: url('img_new/9.png'); /* Reemplaza con la ruta a tu imagen */
    background-size: contain; /* Ajusta la imagen para contenerse dentro de la sección sin distorsión */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen en la sección */
    height: 100vh; /* Asegura que la sección ocupe toda la altura de la pantalla */
    width: 100%; /* Asegura que la sección ocupe todo el ancho de la pantalla */
    display: flex;
    justify-content: center;
    align-items: end;
}

.section_10 {
    background-image: url('img_new/10.png'); /* Reemplaza con la ruta a tu imagen */
    background-size: contain; /* Ajusta la imagen para contenerse dentro de la sección sin distorsión */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen en la sección */
    height: 100vh; /* Asegura que la sección ocupe toda la altura de la pantalla */
    width: 100%; /* Asegura que la sección ocupe todo el ancho de la pantalla */
    display: flex;
    justify-content: center;
    align-items: end;
}

.section_11 {
    background-image: url('img_new/11.png'); /* Reemplaza con la ruta a tu imagen */
    background-size: contain; /* Ajusta la imagen para contenerse dentro de la sección sin distorsión */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen en la sección */
    height: 100vh; /* Asegura que la sección ocupe toda la altura de la pantalla */
    width: 100%; /* Asegura que la sección ocupe todo el ancho de la pantalla */
    display: flex;
    justify-content: center;
    align-items: end;
}

.section_12 {
    background-image: url('img_new/12.png'); /* Reemplaza con la ruta a tu imagen */
    background-size: contain; /* Ajusta la imagen para contenerse dentro de la sección sin distorsión */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen en la sección */
    height: 100vh; /* Asegura que la sección ocupe toda la altura de la pantalla */
    width: 100%; /* Asegura que la sección ocupe todo el ancho de la pantalla */
    display: flex;
    justify-content: center;
    align-items: end;
}

.section_13 {
    background-image: url('img_new/13.png'); /* Reemplaza con la ruta a tu imagen */
    background-size: contain; /* Ajusta la imagen para contenerse dentro de la sección sin distorsión */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen en la sección */
    height: 100vh; /* Asegura que la sección ocupe toda la altura de la pantalla */
    width: 100%; /* Asegura que la sección ocupe todo el ancho de la pantalla */
    display: flex;
    justify-content: center;
    align-items: end;
}

.section_14 {
    background-image: url('img_new/14.png'); /* Reemplaza con la ruta a tu imagen */
    background-size: contain; /* Ajusta la imagen para contenerse dentro de la sección sin distorsión */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen en la sección */
    height: 100vh; /* Asegura que la sección ocupe toda la altura de la pantalla */
    width: 100%; /* Asegura que la sección ocupe todo el ancho de la pantalla */
    display: flex;
    justify-content: center;
    align-items: end;
}

.section_15 {
    background-image: url('img_new/15.png'); /* Reemplaza con la ruta a tu imagen */
    background-size: contain; /* Ajusta la imagen para contenerse dentro de la sección sin distorsión */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen en la sección */
    height: 100vh; /* Asegura que la sección ocupe toda la altura de la pantalla */
    width: 100%; /* Asegura que la sección ocupe todo el ancho de la pantalla */
    display: flex;
    justify-content: center;
    align-items: end;
}

.section_16 {
    background-image: url('img_new/16.png'); /* Reemplaza con la ruta a tu imagen */
    background-size: contain; /* Ajusta la imagen para contenerse dentro de la sección sin distorsión */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen en la sección */
    height: 100vh; /* Asegura que la sección ocupe toda la altura de la pantalla */
    width: 100%; /* Asegura que la sección ocupe todo el ancho de la pantalla */
    display: flex;
    justify-content: center;
    align-items: end;
}

.section_17 {
    background-image: url('img_new/17.png'); /* Reemplaza con la ruta a tu imagen */
    background-size: cover; /* Ajusta la imagen para contenerse dentro de la sección sin distorsión */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen en la sección */
    height: 100vh; /* Asegura que la sección ocupe toda la altura de la pantalla */
    width: 100%; /* Asegura que la sección ocupe todo el ancho de la pantalla */
    display: flex;
    justify-content: center;
    align-items: end;
}


 
.transparent-video {
    position: relative; /* Asegura que el video esté posicionado sobre otros elementos */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta el video para cubrir el contenedor */
    pointer-events: none; /* Asegura que el video no interfiera con las interacciones del usuario */

}

/* Estilo para el botón de scroll hacia arriba */
#scrollToTopBtn {
    position: fixed; /* Fijo en la pantalla */
    bottom: 20px; /* Separación del borde inferior */
    right: 20px; /* Separación del borde derecho */
    background-color: var(--white); /* Color de fondo */
    color: var(--bg-color1); /* Color del icono */
    border: none; /* Sin borde */
    border-radius: 50%; /* Forma circular */
    padding: 10px 15px; /* Espaciado interno */
    cursor: pointer; /* Cursor de mano al pasar */
    display: none; /* Inicialmente oculto */
    transition: opacity 0.3s ease; /* Transición suave */
    font-size: 24px; /* Tamaño del icono */
}

/* Mostrar el botón al hacer scroll */
.show {
    display: block; /* Mostrar el botón */
    opacity: 1; /* Opacidad completa */
}

