* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

:root {
    --color-1: #4f4e4f;
    --color-1-light: #373738;
    --color-2: #8a58ff;
    --color-2-dark: #2c2c2c;
    --color-white: #fffafa;
    --color-3: #ff9500;
    --color-4: #20e934;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-1-light);
    height: 100dvh;
}

.icons {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

.contador-container {
    background-color: var(--color-1);
    padding: 1rem;
    border-radius: 10px;
    /* box-shadow: 0 0 20px var(--color-2-dark); */
    color: var(--color-white);
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.puntos-container {
    /* outline: 1px solid red; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.point-box {
    /* outline: 1px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--color-white);
    color: var(--color-2);
    padding: 10px;
    border-radius: 10px;
}

.point-box-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.point-box-container button {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 200px;
}

.point-box-container button span {
    font-size: 40px;
}

.point-box label {
    color: var(--color-2-dark);
    opacity: 50%;
    font-weight: 600;
}

.puntos-container span {
    font-weight: 600;
    font-size: 50px;
}


.add-btn {
    background-color: var(--color-2);
    color: var(--color-white);
    font-weight: 600;
    border: 3px solid var(--color-2);
    transition: .1s ease all;

}

.sub-btn {
    background-color: transparent;
    color: var(--color-1-light);
    font-weight: 600;
    border: 3px solid var(--color-1-light);

    transition: .1s ease all;
}

.add-btn:active {
    transform: scale(1.1);
}

.sub-btn:active {
    transform: scale(1.1);
}

.puntos-container-bajos .add-btn {
    background-color: var(--color-3);
    border-color: var(--color-3);
}

.puntos-container-bajos #puntosBajos {
    color: var(--color-3);
}

.puntos-container-aumentos .add-btn {
    background-color: var(--color-4);
    border-color: var(--color-4);
}

.puntos-container-aumentos #puntosAumentos {
    color: var(--color-4);
}
