@font-face {
   font-family: 'Doto-Black';
   font-display: swap;
   src: url('file:///C:/Users/ariel/AppData/Local/Mobirise.com/Mobirise/projects/project-2025-09-24_102748/fonts/Doto-Black/font.ttf');
}
